/* Main container */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.login-container {
    display: flex;
    height: 60vh;
    background-color: #020817 !important;
}

/* Left side with hrefto branding */
.login-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    background-color: #020817;
    margin-top: -80px; /* Move the text upwards by 30px (adjusted from -20px) */
}

.login-left h1 {
    font-family: 'Poppins', sans-serif; /* or use 'Montserrat' */
    font-size: 48px;
    line-height: 1.2;
    color: white;
    font-weight: 700; /* Ensure it is bold */
    background: linear-gradient(90deg, #ffba08, #ff6600); /* Add a gradient if needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hrefto-text {
    color: #ffa500; /* Orange color for hrefto text */
}

/* Right side for the login form */
.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #020817;
}

/* Styling the form */
.login-form {
    width: 100%;
    max-width: 400px; /* Reduced height and width */
    padding: 30px 20px;
    background-color: #151f2b;
    border-radius: 8px;
}

.login-form label {
    color: #ccc;
    font-size: 14px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #2c3e50;
    color: white;
}

.login-form input::placeholder {
    color: #888;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #eab308;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #ff8c00;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #eab308;
    text-decoration: none;
}

.new-user {
    margin-top: 20px;
}

.new-user p {
    color: #ccc;
}

.new-user a {
    color: #eab308;
    text-decoration: none;
}
